.vscode
domPipe_functionlist.js
domPipe_documentation.html
ai*
copy_to.sh
.xi.json
.xi.key.json
.xi-server.json
.xi-audit.log
.xi
.xi-state.json
.xi-trash/
.xi-ssh.json
.xi-local-token
.xi*-local-token
*.tgz
readme2.md
